<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
               "http://www.w3.org/TR/html4/loose.dtd">

<html>
  <head>
    <title>ShareStuff.us</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=500, initial-scale=1">

    <script src="./static/js/jquery.min.js"></script>
    <script src="./static/js/semantic.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">google.load("search", "1");</script>

    <link rel="stylesheet" href="./static/css/semantic.min.css"></style>
    <link rel="stylesheet" href="./static/css/main.css"></style>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

   </head>

  <body>
   <div class="ui orange inverted menu" id="navmenu" style="height: 45px">
    <div class="ui dropdown item">
      <img src="./static/images/share_icon.png" height="25" width="25" style="vertical-align: middle; margin-right: 7px"/>
      Browse <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="/browse"> <i class="search icon"></i>Browse</a>
        <a class="item" href="/shared"> <i class="exchange icon"></i>Shared</a>
        <a class="item" href="/borrowed"> <i class="pin icon"></i>Borrowed</a>
        <a class="item" href="/friends"> <i class="users icon"></i>Friends</a>
      </div>
    </div>
    <div class="ui dropdown right item">
      <i class="user icon"></i> {{user_firstname}} <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="/profile">Profile</a>
        <a class="item" href="/messages">Messages</a>
        <a class="item" href="/settings">Settings</a>
        <a class="item" href="/logout">Logout</a>
      </div>
    </div>
  </div>

  <div class="ui segment" id="cards_window" style="width: 80%; margin-left:100px">

    <div class="ui text menu" id="filtermenu">
      <div class="item" style="width:40%">
        <div class="ui icon input">
          <input type="text" placeholder="Search..." onkeyup="filter_search(this)">
          <i class="search icon"></i>
        </div>
      </div>

      <div class="ui dropdown right item dropdown_filter_distance">
        <i class="map marker icon"></i>
        <span class="text">Distance</span>
        <div class="menu">
          <div class="header">
            <i class="map marker icon"></i>
            Filter by Location
          </div>
          <div class="divider"></div>
          <div class="item" data-value="blocks">A Couple Blocks</div>
          <div class="item" data-value="mile_1">1 Mile</div>
          <div class="item" data-value="mile_3">3 Miles</div>
          <div class="item" data-value="mile_5">5 Miles</div>
          <div class="item" data-value="mile-10">10 Miles</div>
          <div class="item" data-value="all">Doesn't Matter</div>
        </div>
      </div>
      <div class="ui dropdown right item dropdown_filter_category">
        <i class="tags icon"></i>
        <span class="text">Category</span>
        <div class="menu">
          <div class="header" style="margin-bottom: 15px">
            <i class="tags icon"></i>
            Filter by Category
          </div>
          <div class="ui small icon search input" style="margin-bottom: 10px">
            <i class="search icon"></i>
            <input type="text" name="search" placeholder="Search Categories">
          </div>
          <div class="divider"></div>
          <div class="item" data-value="sports">Sports</div>
          <div class="item" data-value="kitchen">Kitchen</div>
          <div class="item" data-value="furniture">Furniture</div>
          <div class="item" data-value="clothing">Clothing</div>
          <div class="item" data-value="tool">Tool</div>
          <div class="item" data-value="transportation">Transportation</div>
          <div class="item" data-value="animal">Animal</div>
          <div class="item" data-value="electronics">Electronics</div>
          <div class="item" data-value="all">Everything is Awesome</div>
        </div>
      </div>
      <div class="ui dropdown right item dropdown_filter_friends">
        <i class="users icon"></i>
        <span class="text">Friends</span>
        <div class="menu">
          <div class="header" style="margin-bottom: 15px">
            <i class="users icon"></i>
            Filter by Friends
          </div>
          <div class="ui small icon search input" style="margin-bottom: 10px">
            <i class="search icon"></i>
            <input type="text" name="search" placeholder="Search Friends">
          </div>
          <div class="divider"></div>
          <div class="item" data-value="tiffany wu">Tiffany Wu</div>
          <div class="item" data-value="jeff hsieh">Jeff Hsieh</div>
          <div class="item" data-value="david zeng">David Zeng</div>
          <div class="item" data-value="wilson huang">Wilson Huang</div>
          <div class="item" data-value="george chin">George Chin</div>
          <div class="item" data-value="all">Everyone</div>
        </div>
      </div>
    </div>

    <div class="ui special cards" style="margin-top:50px">
      {% for item in items %}
        <div class="card">
        <div class="dimmable image">
          <div class="ui inverted dimmer">
            <div class="content">
              <div class="center">
                <div class="ui primary button">Request to Borrow</div>
              </div>
            </div>
          </div>
          <img class="card_image" src="{{item[4]}}" height=50 width=50>
        </div>
        <div class="content">
          <div class="header item_name">{{item[1]}}</div>
          <div class="meta">
            <a class="group item_category">{{item[5]}}</a>
          </div>
          <div class="description item_description">
            {{item[2]}}
          </div>
        </div>
        <div class="extra content" style="font-size: 11px">
          <a class="right floated created date">
            Added {{item[8]}}
          </a>
          <a class="friends item_owner" data-userid='{{item[6]}}'>
            <i class="user icon"></i>
            {{item[11]}}
          </a>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>

  <script src="./static/js/main.js"></script>
  <script src="./static/js/browse.js"></script>

  </body>

</html>

